body {
  background: white; }

.navbar {
  height: 80px; }

.navbar-dark .navbar-nav .nav-link {
  color: #226e88; }

.navbar-dark .navbar-brand {
  color: #226e88; }

#hero {
  background: url("/assets/images/81039.jpg") no-repeat;
  background-size: cover;
  background-position: 0 50%;
  height: 45rem; }

.lead {
  padding: 6rem;
  width: 70%;
  font-size: 1.7rem;
  font-weight: 400;
  width: 45%;
  color: white; }

.card {
  position: relative;
  top: -100px;
  border-color: #4bc0eb;
  border-width: 3px;
  border-radius: 10%;
  width: 60%;
  height: 120%; }

.card h5 {
  color: #4bc0eb; }

#about {
  background: url("/assets/images/image2.jpg") no-repeat;
  background-size: cover;
  height: 35rem; }

.col-6 {
  position: relative;
  top: 80px;
  left: 250px;
  background-color: white;
  max-width: 35%; }

#care img {
  width: 600px;
  margin-top: 20px; }

#health {
  background: url("/assets/images/bee.jpg") no-repeat;
  background-size: cover;
  height: 40rem;
  background-position: 0 30%; }

#caregiver img {
  width: 65%;
  margin-left: 100px; }

.nurse1 p {
  position: relative;
  right: 10%;
  width: 90%;
  top: 25%; }

.display-4 {
  width: 100%; }

.display-4 {
  color: #4dc1e5; }

.display-3 {
  color: #4dc1e5;
  left: 100px;
  position: relative;
  top: 100px; }

#appointment {
  background: url("/assets/images/contact.jpg") no-repeat;
  background-size: cover;
  width: 100%;
  height: 46em; }

.caregiver {
  color: #4dc1e5;
  margin-top: 10%;
  margin-bottom: 5%; }

.staff-images img {
  height: 275px;
  border-radius: 50%;
  overflow: hidden;
  border: 10px inset #CBF7F0; }

.background {
  display: flex;
  width: 800px;
  height: 900px;
  background-color: red; }

.contact img {
  width: 100%;
  height: 30rem; }

.contact {
  color: #4dc1e4; }

#footer {
  height: 20em; }

.bg-info2 {
  background-color: #a8cddd;
  color: white;
  height: 250px;
  width: 400px;
  border-radius: 5%;
  position: relative;
  top: -100px; }
