
    /*-------------------------------
                TYPOGRAPHY
    --------------------------------*/

    body p,
    .entry-content p,
    .entry-content ul li,
    .entry-content ul,
    .entry-content a,
    .pp-sub-heading p {

    }

    $bg-color: white;

    body {
        background: $bg-color;
    }

    .container-fluid {
      padding-right: 0px;
      padding-left: 0px;

    }

    .container {
      padding-right: 0px;
      padding-left: 0px;

    }

    .row {
      margin-right: 0px;
      margin-left: 0px;
    }

    /*--------------------------------
                HEADER
    ---------------------------------*/

    /*---
      Media queries? Y/N
    ---*/

    .navbar {
      height:80px;
    }



    /*-------------------------------
                NAVIGATION
    --------------------------------*/


    /*---
      Media queries? Y/N
    ---*/

    .navbar-dark .navbar-nav .nav-link{
      color: #226e88;
    }


    .navbar-dark .navbar-brand {
      color: #226e88;
    }






    /*--------------------------------
                BUTTONS
    ----------------------------------*/
    /*---
      Media queries? Y/N
    ---*/


    a.button,
    span.fl-button-text,
    span.uabb-button-text.uabb-creative-button-text,
    .gform_button.button,
    a.fl-button {

    }

    .care-button {
      margin-top:15%;
    }


    .btn-lg {
      margin-left: 5%;
      position:relative;
      margin-left: 5%;
      bottom: 80px;
      width: 250px;
      background-color: #4DC1E5;
      color:white;
    }

    .btn-md {
      background-color: #4DC1E5;
      color: white;
    }


    /*----------------------------------
                FOOTER
    ---------------------------------*/
    /*---
      Media queries? Y/N
    ---*/


    #footer{
      height: 20em;
    }

    .contact img{
      width: 100%;
      height: 30rem;
    }

    .contact{
      color: #4dc1e4;
    }



    /*------------------------------
                PAGE SPECIFIC
    ---------------------------------*/

    /*---
      PAGE NAME
      Description of section
      Media queries? Y/N
    ---*/

        #hero {
           background: url('/assets/images/hero2.jpg') no-repeat;
           background-size:cover;
           background-position:0 50%;
           height:45rem;
        }

        .hero-cta {
          padding-top: 100px;
          padding-left:100px;
        }

        .lead{
          padding:6rem;
          width:70%;
          font-size: 1.7rem;
          font-weight: 400;
          width: 55%;
          color: white;
        }

        .display-3 h1{
          top: 300px;
        }

        .row-value-cards{
          margin-top:-70px;
          padding-bottom: 60px;
         }

        // .quality-card {
        //   margin-left: 18%;
        // }

        // .commitment-card {
        //   margin-left: -10%;
        // }

        // .experience-card {
        //   margin-left: -10%;
        // }

        .col-md4 {
          margin-right: -6%;
        }

        .text-center {
           padding-top: 20%;
         }

         .card {
          position: relative;
          top: -120px;
          left:550px;
          border-color: #4bc0eb;
          border-width: 3px;
          border-radius: 10%;
          // width:60%;
          height:120%;
         }

        .card h5 {
          color: #4bc0eb;
        }

        #about {
          background: url('/assets/images/image2.jpg') no-repeat;
          background-size: cover;
          //position:top-right;
          // filter: blur(4px);
          //object-fit:cover;
          height: 40rem;
          //width:100%;
        }

        #care img {
          width:650px;
          position: relative;
          left: 40px;
          top: 30px;
        }

        .col-6{
          position:relative;
          top:80px;
          left: 250px;
          background-color:white;
          max-width: 35%;
        }

        .lead1{
          // padding:6rem;
          // background-color:white;
          // width:70%;
          padding-left: 8%;
        }

        #health {
          background: url('/assets/images/bee.jpg') no-repeat;
          background-size: cover;
          // filter: blur(28px);
          height: 40rem;
          background-position:0 30%;
        }

        #caregiver img {
          width:65%;
          margin-left: 100px;
        }

        .nurse1 p {
          position: relative;
          right: 10%;
          width: 90%;
          top: 25%;
        }

        .display-4 {
          // background-color:white;
           width:100%;
          // // top:50px;
          // position:relative;
          // top:100px;
        }

        .column1{
          // background-color:white;
        }

        .display-4 {
          color: #4dc1e5;
          padding-top: 15%;
          padding-left: 8%;
        }

        .display-3{
          color: #4dc1e5;
          left:100px;
          position:relative;
          top:100px;
        }

        #appointment{
          background: url('/assets/images/contact.jpg') no-repeat;
          background-size: cover;
          //filter: blur (28px);
          width: 100%;
          height: 46em;
        }

        .caregiver {
          color: #4dc1e5;
          margin-top: 10%;
          margin-bottom: 10%;
        }

        .staff-images img {
          height: 275px;
          border-radius:50%;
          overflow: hidden;
          border: 10px inset #CBF7F0;
        }

        .background {
          display:flex;
          width: 800px;
          height:900px;
          background-color:red;
        }

        .bg-info2 {
          background-color: #a8cddd;
          color: white;
          height: 250px;
          width: 50%;
          border-radius: 3%;
          position: relative;
          top: -100px;
          padding:40px 80px 0px;

          text-align: left;
        }

        .appointment-border {
          width: 100%;
          height: 100px;
          margin-top: 10%;
        }



    /*-------------------------------
            LARGE SCREENS ONLY
    ---------------------------------*/

    @media screen and (min-width: 769px){


    }


    /*--------------------------------
        TABLET SCREENS AND SMALLER
    --------------------------------*/

    @media screen and (max-width: 768px){


    }


    /*-------------------------------
            MOBILE SCREENS ONLY
    ---------------------------------*/

    @media screen and (max-width: 480px){


    }
